<div class="row">
    <div class="small-2 medium-8 large-8 columns">
        <h4>{{name}}</h4>
        <span class="subtitle">{{type}}</span>
    </div>
    <div class="small-5 medium-2 large-2 columns text-right">
        <div class="rank" style="margin-bottom:10px">{{rank}}<span>points</span></div>
    </div>
    <div class="small-5 medium-2 large-2 columns text-right">
        <img class="location-img" style="margin-bottom:10px" src="images/{{imageUrl}}"/>
    </div>
</div>
<div class="row plant-container">
    <div class="medium-6 small-12 columns">
        <div class="row">
            <h5>Actions</h5>
            <div class="actions">

            </div>
        </div>
        <div class="row">
            <div class="small-12 columns text-right" style="padding:0">
                <div class="button-action ad">Recomendation</div>
            </div>
        </div>
        <div class="row">
            <h5>Grow plan</h5>
            <div id="calendar">
            </div>
        </div>
    </div>
    <div class="medium-6 small-12 columns">
            <h5>Guide</h5>
            <div class="guide">
               {{description}}
            </div>
    </div>
</div>